.date-axis line, .date-axis path, .ordinal-axis line, .ordinal-axis path, .price-axis line, .price-axis path {
  fill: none;
  stroke: black;
}

.date-axis text, .ordinal-axis text, .price-axis text {
  font-size: 10px;
}

.cross-hair {
  fill: none;
  stroke: steelblue;
}
#quote-modal{
    text-align:center;
}

text.header{
    font-size: 10px;
}